@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
}

.form-control::placeholder {
  font-family: 'Space Grotesk', sans-serif;
}
.divider {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.divider .dot {
  width: 8px;
  height: 8px;
  background-color: #6c757d;
  border-radius: 50%;
}
.divider .line {
  flex-grow: 1;
  height: 1px;
  background-color: #6c757d;
  margin: 0 1rem;
}
.btn-lime {
  background-color: #b9e637;
  color: black;
  font-weight: 800;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgb(0 0 0 / 0.1);
  transition: background-color 0.3s ease;
}
.btn-lime:hover, .btn-lime:focus {
  background-color: #a4d22a;
  color: black;
}
a.lime-link {
  color: #b9e637;
  text-decoration: none;
}
a.lime-link:hover {
  text-decoration: underline;
  color: #a4d22a;
}